/* Fonts ---------------------------------------- */

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-300.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-600.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-900.ttf') format('truetype');
}

:root {
    --color-primary-brand: #819B57;
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-secondary-brand: #465929;
    --color-secondary-dark: #A18268;
    --color-secondary-light: #CFCFBC;
}

/* Base ---------------------------------------- */

body {
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;

    background-color: var(--color-primary-light);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    color: var(--color-primary-dark);
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Section ---------------------------------------- */

.section {
    padding: 48px 0;
}

.section__title {
    font-size: 64px;
    line-height: 1.3;
}

/* Header ---------------------------------------- */

.header {
    background-color:darkorange;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.header__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header__menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

.link {
    color: var(--color-primary-light);
    text-decoration:none;
}

.link:hover {
    color: var(--color-primary-brand);
}

/* Button ---------------------------------------- */

.button {
    color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 600;
    background-color: var(--color-primary-brand);
    border-radius: 8px;
    border: 2px solid var(--color-primary-brand);
    padding: 16px 32px;
}

.button:hover {
    color: var(--color-secondary-brand);
    background-color: transparent;
}

/* Hero ---------------------------------------- */

.hero {
    padding: 272px 0;
    background-image: url('../images/hero-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-title {
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 600;
}

.hero-title .accent {
    color: var(--color-primary-brand);
}

/* Advantages ---------------------------------------- */

.advantages {
    background-color: var(--color-primary-brand);
    padding: 16px 0;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages__item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}

/* Traditions ---------------------------------------- */

.traditions {
    padding-top: 96px;
}

.traditions__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions__content {
    max-width: 710px;
}

.traditions__title {
    margin-bottom: 42px;
}

.traditions__paragraph--limited-width {
    max-width: 340px;
}

.traditions__paragraph--accent {
    color: var(--color-primary-brand);
}

.traditions__paragraph--uppercase {
    text-transform: uppercase;
    font-weight: 600;
}

.traditions__image {
    border-radius: 400px 400px 0px 0px;
}

/* Chefs ---------------------------------------- */

.chefs__title {
    margin: 0 auto 80px;
    max-width: 520px;
    text-align: center;
}

.chefs__title::after,
.chefs__title::before {
    display: block;
    content: '';
    width: 132px;
    border: 2px solid var(--color-secondary-light);
}

h2 .accent {
    color: var(--color-secondary-brand);
}

.chef-card__title {
    font-size: 40px;
    margin-bottom: 16px;
}

.chef-card__photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

/* Formats ---------------------------------------- */

.formats__title {
    margin-bottom: 80px;
}

.formats__btn {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 0;
    width: 44px;
    height: 44px;
    background-color: var(--color-primary-light);
    fill: var(--color-primary-dark);
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
}

.formats__btn:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}

.formats__list {
    display: flex;
    gap: 20px;
}

.formats__item {
    width: calc((100% - 40px) / 3);
}

.format-card {
    height: 444px;
    padding: 24px;
    border: 1px solid black;
    border-radius: 16px;
    background-image: linear-gradient(
        180deg, 
        rgba(49, 38, 26, 0.00) 55.21%, 
        rgba(49, 38, 26, 0.71) 72.92%,    
        var(--color-primary-dark) 100%);
}

.format-card__title {
    font-size: 24px;
    font-weight: 600;
}

.format-card__paragraph {
    font-size: 14px;
    font-weight: 300;
}

/* Contacts ---------------------------------------- */

.contacts__title {
    margin-bottom: 16px;
}

/* Footer ---------------------------------------- */

.footer {
    background-image: url('../images/footer-background.png');
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.address {
    color: var(--color-primary-light);
    font-size: 16px;
    font-style:normal;
}

.address__link {
    color: var(--color-primary-light);
    text-decoration: none;
}

.address__link:hover {
    color: var(--color-primary-brand);
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-primary-brand);
}

.address__privacy-policy {
    color: var(--color-primary-light);
    text-decoration: none;
}

.address__privacy-policy:hover {
    color: var(--color-primary-brand);
}

.address__copyright {
    color: var(--color-primary-dark);
    font-size: 14px;
}