.text-color-primary-brand {
    color: var(--color-primary-brand);
}

.text-color-secondary-brand {
    color: var(--color-secondary-brand);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: 600;
}