:root {
    --color-primary-brand: #819B57;
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-secondary-brand: #465929;
    --color-secondary-dark: #A18268;
    --color-secondary-light: #CFCFBC;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;