.contacts {
    padding-bottom: 0;

    @media screen and (min-width: 768px) {
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        padding-bottom: 96px;
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 28px;
        }

        @media screen and (min-width: 1280px) {
            gap: 32px;
        }
    }

    &__form-box {
        @media screen and (min-width: 768px) {
            width: calc((100% - 28px) / 2);
        }

        @media screen and (min-width: 1280px) {
            width: calc((100% - 32px) / 2);
        }
    }

    &__title {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.1;
        color: var(--color-primary-dark);
        text-align: center;
        margin-bottom: 8px;

        @media screen and (min-width: 768px) {
            font-size: 36px;
            text-align: left;
            margin-bottom: 12px;
        }

        @media screen and (min-width: 1280px) {
            font-size: 58px;
            margin-bottom: 16px;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        color: var(--color-secondary-brand);
        text-align: center;
        margin-bottom: 24px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            text-align: left;
        }

        @media screen and (min-width: 1280px) {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 42px;
        }
    }

    &__form-field {
        margin-bottom: 16px;

        @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 24px;
        }
    }
    
    &__form-label {
        display: block;
    }
    
    &__form-input {
        padding: 8px 24px;
        width: 100%;
        border: 1px solid var(--color-secondary-dark);
        border-radius: 8px;
        background-color: transparent;
        color: var(--color-primary-dark);

        @media screen and (min-width: 768px) {
            padding: 12px 32px;
        }

        @media screen and (min-width: 1280px) {
            padding: 16px 42px;
        }
    }
    
    &__form-input:focus {
        border-color: var(--color-primary-brand);
        outline: none;
    }
    
    &__form-input::placeholder {
        color: var(--color-secondary-dark);
    }
    
    &__form-input:focus::placeholder {
        color: var(--color-secondary-dark);
    }
    
    &__form-button {
        display: block;
        margin: 0 auto 12px;
    }
    
    &__form-terms {
        margin: 0 auto;
        max-width: 220px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
    }
    
    &__form-terms-link {
        color: var(--color-primary-dark);
        text-underline-offset: 2px;
    }
    
    &__map {
        flex-shrink: 0;
        border: 0;
        margin-left: -20px;
        margin-right: -20px;
        max-width: 768px;
        max-height: 240px;

        @media screen and (min-width: 768px) {
            width: calc((100% - 28px) / 2);
            border-radius: 16px;
            margin: 0;
            max-height: 420px;
        }

        @media screen and (min-width: 768px) {
            width: calc((100% - 32px) / 2);
            max-height: 600px;
        }
    }
}