.contacts {
    padding-bottom: 96px;

    &__title {
        margin-bottom: 16px;
    }

    &__container {
        display: flex;
        gap: 32px;
    }
    
    &__map {
    flex-shrink: 0;
    border: 0;
    border-radius: 16px;
    }
}

.contacts-form {
    &__field {
        margin-bottom: 24px;
    }

    &__label {
        display: block;
    }

    &__input {
        padding: 14px 42px;
        width: 100%;
        border: 1px solid var(--color-secondary-dark);
        border-radius: 8px;
        background-color: transparent;
        color: var(--color-primary-dark);
    }

    &__input:focus {
        border-color: var(--color-primary-brand);
        outline: none;
    }

    &__input::placeholder {
        color: var(--color-secondary-dark);
    }

    &__input:focus::placeholder {
        color: var(--color-secondary-dark);
    }

    &__button {
        display: block;
        margin: 0 auto 24px;
    }

    &__terms {
        margin: 0 auto;
        max-width: 220px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
    }

    &__terms-link {
        color: var(--color-primary-dark);
        text-underline-offset: 2px;
    }
}