.contacts {
    padding-bottom: 96px;
}

.contacts__title {
    margin-bottom: 16px;
}

.contacts__container {
    display: flex;
    gap: 32px;
}

/* 
.contacts__form,
.contacts__map {
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
} */

.contacts__map {
    flex-shrink: 0;
    border: 0;
    border-radius: 16px;
}